@font-face {
    font-family: 'DecimaNova';
    src: url('../fonts/DecimaNova-Regular7.woff2') format('woff2'),
        url('../fonts/DecimaNova-Regular7.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DecimaNova';
    src: url('../fonts/DecimaNova-Regular6.woff2') format('woff2'),
        url('../fonts/DecimaNova-Regular6.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif-Regular.woff2') format('woff2'),
        url('../fonts/PTSerif-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


