$main-font-family: 'PT Serif', 'Arial', serif;
$sub-font-family: 'DecimaNova', 'Arial', sans-serif;

$main-color: #fff;
$sub-color: #00abff;
$main-font-size: 14px;
$mid-font-size: 16px;

$main-bg: #00172b;
$border-bg: #00abff;

$content-width: 1200px;

$anim: .25s;
