.menu-btn {
    position: relative;
    height: 22px;
    width: 32px;
    color: $main-color;
}

.menu-btn.active {
    .menu-btn__line {
        opacity: 0;
    }

    &:before {
        width: 28px;
        transform: rotate(45deg);
        transform-origin: left;
    }

    &:after {
        width: 28px;
        transform: rotate(-45deg);
        transform-origin: left;
    }
}

.menu-btn:before,
.menu-btn:after,
.menu-btn__line {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: opacity $anim,
        transform $anim;
}

.menu-btn__line {
    top: 0;
    bottom: 0;
}

.menu-btn:before {
    top: 0;
}

.menu-btn:after {
    bottom: 0;
}
