.socials {
    display: flex;
}

.socials__item:not(:last-child) {
    margin-right: 16px;
}

.socials__link {
    display: block;
    width: 30px;
    height: 30px;
    color: $main-color;
    transition: color $anim;
    font-size: 30px;

    @include hover {
        &:hover,
        &:focus {
            color: $sub-color;
        }
    }

    &:active {
        opacity: .7;
    }
}

.socials__ico {
    display: block;
    width: 100%;
    height: 100%;
}
